# ========================
# python
# ========================
__pycache__/
*.py[cod]
*.python
*.pyd


# Virtual environment
.venv/
myvenv/
env/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/


# =========================
# OS  / Editor 
# ========================

.vscode/


# ========================
# Secrets
# ========================
.env
.env.*